<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.order.mapper.PayMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  pay 
		WHERE
			 order_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.order.entity.Pay">
		SELECT * 
		FROM  pay
		WHERE
			 order_id = #{mainId} 	</select>


	<select id="selectPays" parameterType="java.lang.String" resultType="org.jeecg.modules.order.entity.Pay">
		select * from pay where order_id=#{id};
	</select>
</mapper>
