<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.quality.mapper.QualityMerchantMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  quality_merchant 
		WHERE
			 type_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.quality.entity.QualityMerchant">
		SELECT * 
		FROM  quality_merchant
		WHERE
			 type_id = #{mainId} 	</select>
</mapper>
