<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.project.mapper.MerchantMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  merchant 
		WHERE
			 project_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.project.entity.Merchant">
		SELECT * 
		FROM  merchant
		WHERE
			 project_id = #{mainId} 	</select>


	<select id="queryByCode" parameterType="java.lang.String" resultType="org.jeecg.modules.project.entity.Merchant">
		SELECT * FROM merchant where code=#{code};
	</select>

	<select id="getIdsByCodes" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT id FROM merchant where code in
		<foreach collection="codes" item="code" open="(" separator="," close=")">
			#{code}
		</foreach>
	</select>
</mapper>
