<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.email.mapper.MailConfigMapper">


    <select id="queryList" resultType="org.jeecg.modules.email.entity.MailConfig">
        select * from mail_config
    </select>
</mapper>